travelAgency/bpelContent/airline/AirLineBookService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sawsdl10="http://www.w3.org/ns/sawsdl"
	xmlns:tns="http://org.ow2.petals/demo/travelagency/airline/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://org.ow2.petals/demo/travelagency/airline/">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" targetNamespace="http://org.ow2.petals/demo/travelagency/airline/">
			<element name="bookFlight">
				<complexType>
					<sequence>
						<element name="request" type="tns:BookingRequest" />
					</sequence>
				</complexType>
			</element>
			<complexType name="BookingRequest">
				<sequence>
					<element name="lastname" nillable="true" type="xsd:string" />
					<element name="firstname" nillable="true" type="xsd:string" />
					<element name="start" nillable="true" type="xsd:dateTime" />
					<element name="end" nillable="true" type="xsd:dateTime" />
					<element name="from" nillable="true" type="xsd:string" />
					<element name="to" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="bookFlightResponse">
				<complexType>
					<sequence>
						<element name="bookFlightReturn" type="tns:BookingResponse" />
					</sequence>
				</complexType>
			</element>
			<complexType name="BookingResponse">
				<sequence>
					<element name="reservationId" type="xsd:string" />
					<element name="booked" type="xsd:boolean" />
				</sequence>
			</complexType>
			<element name="cancel">
				<complexType>
					<sequence>
						<element name="reservationId" type="long" />
					</sequence>
				</complexType>
			</element>
			<element name="cancelResponse">
				<complexType>
					<sequence>
						<element name="out" type="string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	<wsdl:message name="bookFlightResponse">
		<wsdl:part name="parameters" element="tns:bookFlightResponse" />
	</wsdl:message>
	<wsdl:message name="bookFlightRequest">
		<wsdl:part name="parameters" element="tns:bookFlight" />
	</wsdl:message>
	<wsdl:message name="cancelRequest">
		<wsdl:part name="parameters" element="tns:cancel" />
	</wsdl:message>
	<wsdl:message name="cancelResponse">
		<wsdl:part name="parameters" element="tns:cancelResponse" />
	</wsdl:message>
	<wsdl:portType name="AirLineBook">
		<jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
			<jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
		</jaxws:bindings>
		<wsdl:operation name="bookFlight">
			<wsdl:input name="bookFlightRequest" message="tns:bookFlightRequest" />
			<wsdl:output name="bookFlightResponse" message="tns:bookFlightResponse" />
		</wsdl:operation>
		<wsdl:operation name="cancel">
			<wsdl:input message="tns:cancelRequest" />
			<wsdl:output message="tns:cancelResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AirLineBookSoapBinding"
		type="tns:AirLineBook">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="bookFlight">

			<soap:operation
				soapAction="http://org.ow2.petals/demo/travelagency/airline/bookFlight" />
			<wsdl:input name="bookFlightRequest">

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="bookFlightResponse">

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancel">

			<soap:operation
				soapAction="http://org.ow2.petals/demo/travelagency/airline/cancel" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AirLineBookService">
		<sawsdl10:attrExtensions
			sawsdl10:modelReference="http://www.petalslink.org/wsoui/image#classpath://airline/avion.jpg 
			 http://www.petalslink.org/wsoui/position#NW" />
		<wsdl:port name="AirLineBook" binding="tns:AirLineBookSoapBinding">
			<soap:address location="http://localhost:9734/Airline" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

